.niz-result-count{
	margin-bottom: 8px;
    text-align: center;
    color: #a0a0a0;
}
nav.ajax-load-more-nav{
	text-align: center;
    margin-bottom: 20px;
}
.load-more-ajax.btn.loading:after {
    font-family: WooCommerce;
    content: "\e01c";
    vertical-align: top;
    font-weight: 400;
    position: absolute;
    right: 1em;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.load-more-ajax.btn.loading {
	position:relative;
    opacity: .25;
    padding-right: 2.618em;
}